*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  /* line-height: 1.15; 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  /* font-size: 100%;
  line-height: 1.15;  */
  margin: 0;
  /* 2 */
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

summary {
  display: list-item;
}

body {
  font-family: Roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0;
}

a {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17em;
  color: black;
}

.logo:link {
  color: inherit;
}

.logo:visited, .logo:active {
  color: inherit;
}

.logo__text {
  margin: 0;
}

.logo__text--blue {
  color: #2196f3;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

@media (max-width: 766px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
}

.page-header__logo {
  display: inline-block;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin-left: 0px;
}

.site-nav__link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.menu__desktop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 88px;
}

@media screen and (max-width: 767px) {
  .menu__desktop {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .menu__desktop {
    padding-left: 93px;
  }
}

@media screen and (min-width: 767px) {
  .menu__toggle {
    display: none;
  }
}

.menu__toggle {
  background-color: transparent;
  border: none;
}

.menu__open-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__open-icon:hover, .menu__open-icon:focus {
  fill: #2196f3;
}

.contacts {
  margin-left: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-left: 30px;
  }
  .contacts__item:first-child {
    margin-left: 0px;
  }
}

.contacts__link {
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    line-height: 16.41px;
    font-size: 14px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts_icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .contacts_icon {
    margin-right: 10px;
  }
}

.hero {
  background-color: #c4c4c4;
  background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-480.jpg);
  background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  background-position: 50% 50%;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-480@2x.jpg);
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-480@2x.jpg);
    background-size: cover;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-768.jpg);
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-768.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-768@2x.jpg);
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-768@2x.jpg);
    background-size: cover;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .hero {
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-1200.jpg);
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1200.jpg);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (max-width: 1600px) and (min-resolution: 2dppx) {
  .hero {
    background: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-1200@2x.jpg);
    background: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-1200@2x.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 42px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36em;
    margin: 0;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__button {
    margin-top: 50px;
  }
}

.button {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  background-color: #2196f3;
  border: none;
  letter-spacing: 0.06em;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.feautures {
  padding-top: 60px;
}

@media screen and (max-width: 1199px) {
  .feautures {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .feautures {
    padding-top: 94px;
  }
}

.feautures__list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .feautures__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .feautures__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.feautures__item {
  margin-bottom: 30px;
}

.feautures__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .feautures__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feautures__item {
    -ms-flex-preferred-size: calc(100% / 4 - 20px);
        flex-basis: calc(100% / 4 - 20px);
  }
}

.feautures__icon-container {
  border-radius: 4px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.feautures__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .feautures__subtitle {
    text-align: center;
  }
}

.feautures__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  font-style: normal;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 28px;
    line-height: 32.81px;
  }
}

.directions {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .directions {
    display: none;
  }
}

.directions__section-title {
  margin: 0;
  margin-bottom: 50px;
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.directions__image-thumb {
  height: 294px;
  position: relative;
}

.directions__item {
  margin-left: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.directions__overlay {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  padding-top: 27px;
}

.directions__text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  line-height: 16.41px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__section-title {
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team__section-title {
    margin-bottom: 50px;
  }
}

.team__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team__card-set {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__card-set {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

.team__thumb {
  height: 460px;
}

@media screen and (min-width: 768px) {
  .team__thumb {
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    height: 260px;
  }
}

.team__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team__name,
.team__position {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team__name {
  font-weight: 500;
  color: #212121;
  margin: 0;
  text-align: center;
  margin-top: 30px;
}

.team__position {
  font-weight: 400;
  color: #757575;
  text-align: center;
  margin: 0;
  margin-top: 10px;
}

.team__social {
  margin-top: 16px;
  margin-left: -10px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__container {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  background-color: #2196f3;
}

.social__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon {
  fill: #fff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    margin-left: -30px;
  }
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #afb1b8;
  height: 90px;
  margin-bottom: 30px;
  width: calc(100% / 2 - 15px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin-left: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:link, .client__link:visited {
  color: inherit;
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__contacts--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo {
  font-style: normal;
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.footer__logo:link {
  color: #fff;
}

.logo__text--white {
  color: #fff;
  margin: 0;
}

.address__map-link {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .address__map-link {
    width: 231px;
  }
}

.address__map-link:visited {
  color: #fff;
}

.address__link {
  margin-top: 9px;
  line-height: 24px;
  line-height: 16.41px;
  font-size: 14px;
  display: block;
}

.footer-social {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
  }
}

.footer-social__title {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: #fff;
  margin: 0;
  letter-spacing: 0.03em;
}

.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: -10px;
}

@media screen and (min-width: 1200px) {
  .footer-social__list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer-social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__link:hover {
  background-color: #2196f3;
}

.footer-social__icon {
  fill: #fff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__label {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  color: #fff;
  margin: 0;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: inline-block;
}

.subscribe__input {
  width: 100%;
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2f303a;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.subscribe__icon {
  fill: #fff;
  margin-left: 10px;
}

.address__contacts {
  display: block;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  .pop-up {
    max-width: 528px;
    width: 528px;
  }
}

.is-hidden .pop-up {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  padding: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-button__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon {
  fill: #2196f3;
}

.pop-up__title {
  margin: 0;
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .pop-up__title {
    line-height: 23.44px;
  }
}

.pop-up__field {
  display: block;
  margin-top: 28px;
  position: relative;
}

.pop-up__label {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  position: absolute;
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

.pop-up__input {
  width: 100%;
  padding-left: 42px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up__input:focus {
  border: 1px solid #2196f3;
}

.pop-up__input:focus ~ .pop-up__icon {
  fill: #2196f3;
}

.pop-up__input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.pop-up__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.pop-up__input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.pop-up__input::placeholder {
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.pop-up__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up__field--comment {
  height: 120px;
}

.pop-up__input--comment {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.pop-up__conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-grey-dark);
  font-weight: 400;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .pop-up__conditions {
    font-size: 14px;
    line-height: 24px;
  }
}

.pop-up__link {
  text-decoration: underline;
  color: #2196f3;
}

.pop-up__checkbox-icon {
  display: block;
  min-width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  background-size: contain;
  background-origin: border-box;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up__checkbox:checked + .pop-up__checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
}

.pop-up__label--conditions {
  margin-left: 9px;
}

.pop-up__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up__button:hover, .pop-up__button:focus {
  background-color: #188ce8;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -15px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -8px;
  }
}

.filter__container {
  margin-right: 8px;
  margin-top: 15px;
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62em;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  background-color: #f5f4fa;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio__card {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.portfolio__card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
  }
}

.portfolio__link {
  width: 100%;
  display: inline-block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__title,
.portfolio__subtitle {
  margin: 0;
}

.portfolio__thumb {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio__overlay {
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 77px;
  padding-bottom: 77px;
}

@media screen and (min-width: 768px) {
  .portfolio__overlay {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

.portfolio__text {
  display: block;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: white;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__close-button {
  padding: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__close-button:hover .menu__close-icon {
  fill: #2196f3;
}

.menu__close-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob__nav-link {
  font-family: Roboto;
  font-size: 40px;
  line-height: 46.88px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob__nav-link:hover, .mob__nav-link:focus {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__phone-link {
  display: block;
  font-family: Roboto;
  font-size: 34px;
  line-height: 39.84px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile__mail-link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}

.mobile__social {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile__social-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__social-link::after {
  content: '';
  width: 1px;
  height: 22px;
  display: block;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile__social-item:last-child .mobile__social-link::after {
  display: none;
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  position: absolute;
  top: 77px;
  border-radius: 2px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.thumb {
  height: 294px;
  position: relative;
}

.thumb__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/*# sourceMappingURL=main.css.map */